{% load static %}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Phần mềm quản lí học sinh</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'search_score' %}">Tra cứu điểm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list_students' %}">Quản lí học sinh</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manage_scores' %}">Quản lí điểm</a>
            </li>
        </ul>
    </div>
    </nav>

    <div class="container mt-4">
        {% block messages %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <div class="container footer">
        <span class="text-muted">Copyright by em Nong đẹp trai</span>
    </div>
</body>
</html>