{% extends 'base.html' %}

{% block title %}
Phần mềm quản lý điểm cho học sinh
{% endblock %}

{% block content %}
<h2>Chào mừng đến với hệ thống quản lý điểm</h2>
<p>Hệ thống này giúp phụ huynh theo dõi sát sao quá trình học tập của con em mình.</p>
<p>Phụ huynh có thể tra cứu điểm, theo dõi lịch học, lịch thi, nhận thông báo về điểm số,...</p>
<p>Hệ thống cũng cung cấp các công cụ để phân tích dữ liệu học tập, giúp phụ huynh định hướng cho con em mình trong học tập.</p>

<h2>Thông tin mới</h2>
{% endblock %}